{% extends 'base.html.twig' %}

{% block title %}Admission index{% endblock %}

{% block body %}
    <h1>Admission index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Demande_insc</th>
                <th>Cin</th>
                <th>Bac</th>
                <th>Att_travail</th>
                <th>Att_titulaire</th>
                <th>Autorisation</th>
                <th>Cv</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for admission in admissions %}
            <tr>
                <td>{{ admission.demandeInsc ? 'Yes' : 'No' }}</td>
                <td><embed src="/uploads/{{ admission.cin }}" width="500" height="375"
                           type="application/pdf"></td>
                <td><embed src="/uploads/{{ admission.bac }}" width="500" height="375"
                           type="application/pdf"></td>
                <td><embed src="/uploads/{{ admission.attTravail }}" width="500" height="375"
                           type="application/pdf"></td>
                <td><embed src="/uploads/{{ admission.attTitulaire }}" width="500" height="375"
                           type="application/pdf"></td>
                <td><embed src="/uploads/{{ admission.autorisation }}" width="500" height="375"
                           type="application/pdf"></td>
                <td><embed src="/uploads/{{ admission.cv }}" width="500" height="375"
                           type="application/pdf"></td>


                <td>
                    <a href="{{ path('admission_show_accept', {'id': admission.id}) }}">show</a>
                    <a href="{{ path('admission_edit', {'id': admission.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="15">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admission_new') }}">Create new</a>
{% endblock %}
