{% extends 'base.html.twig' %}

{% block title %}Admission{% endblock %}

{% block body %}
    <h1>Admission</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ admission.id }}</td>
            </tr>
            <tr>
                <th>Demande_insc</th>
                <td>{{ admission.demandeInsc ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Cin</th>
                <td>{{ admission.cin }}</td>
            </tr>
            <tr>
                <th>Bac</th>
                <td>{{ admission.bac }}</td>
            </tr>
            <tr>
                <th>Att_travail</th>
                <td>{{ admission.attTravail }}</td>
            </tr>
            <tr>
                <th>Att_titulaire</th>
                <td>{{ admission.attTitulaire }}</td>
            </tr>
            <tr>
                <th>Autorisation</th>
                <td>{{ admission.autorisation }}</td>
            </tr>
            <tr>
                <th>Cv</th>
                <td>{{ admission.cv }}</td>
            </tr>

        </tbody>
    </table>

    <a href="{{ path('admission_index') }}">back to list</a>

    <a href="{{ path('admission_edit', {'id': admission.id}) }}">edit</a>

    {{ include('admission/_delete_form.html.twig') }}
{% endblock %}
